<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeremy.wordshero">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许创建和删除外部存储设备的文件 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jeremy.wordshero.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.SelectWordsActivity"
            android:label="@string/select_words"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.WordsListActivity" />
        <activity android:name=".activity.CardActivity" />
        <activity
            android:name=".activity.EditBookActivity"
            android:label="@string/edit_word_book"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.SelectBookActivity" />
        <activity
            android:name=".activity.CreatePDFActivity"
            android:label="@string/create_pdf" />
        <activity
            android:name=".activity.MakeGameActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.AnswerActivity" />
        <activity android:name=".activity.EditGameActivity" />
    </application>


</manifest>